<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="book-flight-module">
    <test name="flight">
        <parameter name ="noOfPassengers" value="2"/>


        <parameter name="expectedPrice" value="$1169 USD"/>


        <classes>
            <class name="com.newtours.test.BookFlightTest"></class>
        </classes>
    </test>
</suite>